[include]
  path = ~/.config/delta/catppuccin.gitconfig

[user]
	email = "301291+pragmaticivan@users.noreply.github.com"
	name = "Ivan Santos"
	signingKey = "~/.ssh/id_ed25519"

[github]
  user = pragmaticivan

[core]
	autocrlf = "input"
	compression = -1
	editor = "nvim"
	precomposeunicode = true
  pager = delta
	whitespace = "trailing-space,space-before-tab"
  excludesFile = ~/.config/git/ignore

[advice]
	addEmptyPathspec = false

[alias]
	co = "checkout"

[apply]
	whitespace = "nowarn"

[color]
	branch = "auto"
	diff = "auto"
	status = "auto"
	ui = true

[commit]
	gpgSign = true

[format]
	signOff = true

[gpg]
	format = "ssh"

[gpg "ssh"]
	allowedSignersFile = "~/.ssh/allowed_signers"

[grep]
	extendRegexp = true
	lineNumber = true

[help]
	autocorrect = 1

[init]
	defaultBranch = "main"

[lfs]
	enable = true

[log]
	showSignature = false

[pull]
	ff = "only"

[push]
	autoSetupRemote = true
	default = "simple"

[rerere]
	enabled = true

[submodule]
	fetchJobs = 4

[interactive]
  diffFilter = delta --color-only
