#!/usr/bin/env bash

# themeConfigFile hash: {{ include (joinPath .chezmoi.homeDir ".config/bat/themes" (printf "Catppuccin %s.tmTheme" (.catppuccinFlavor | title))) | sha256sum }}

if ! command -v bat &>/dev/null; then
  exit
fi

echo "BUILDING BAT CACHE..."
bat cache --build
