# vim:ft=gitignore.chezmoitmpl

##########################################

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if not (and (hasKey . "pixooEnabled") .pixooEnabled) }}
.claude/hooks/pixoo-notify.py
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Brewfile
.config/homebrew/trust.json
{{ end }}
