{{- $gitemail := "301291+pragmaticivan@users.noreply.github.com" -}}
{{- $name := "Ivan Santos" -}}
{{- $editor := "Ivan Santos" -}}
{{- $visual_editor := "Ivan Santos" -}}

{{- $system := "" -}}
{{- if hasKey . "system" -}}
{{-   $system = .system -}}
{{- /* Set client to the MacOS default system */ -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{    $system = "client" -}}
{{- else -}}
{{-   $system = promptString "System (client or server)" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir }}

---
data:
  system: {{ $system | quote }}
  name: {{ $name | quote }}
  gitemail: {{ $gitemail | quote }}
  editor: {{ $editor | quote }}
  visualeditor: {{ $visual_editor | quote }}
