# shellcheck shell=sh
# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
export PATH=$HOME/bin:$PATH
export VISUAL="# {{ .visualeditor }}"
export EDITOR="# {{ .editor }}"
export BROWSER="firefox";
export TERMINAL="alacritty";
export PROJECTS="$HOME/Code";
export HISTIGNORE="pwd:ls:cd"
export LANG=en_US.UTF-8
