#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

# ---------------------------------------------------------------------------------------------------------------------
# Global settings
# ---------------------------------------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------------------------------------------------
# Security settings
# ---------------------------------------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------------------------------------------------
# AuthorizationDB settings
# The authorizationdb settings cannot be written to directly, so the plist must be exported out to temporary file
# ---------------------------------------------------------------------------------------------------------------------
# Export AuthorizationDB settings to temporary file

# ---------------------------------------------------------------------------------------------------------------------
# Dock settings
# ---------------------------------------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------------------------------------------------
# Finder settings
# ---------------------------------------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------------------------------------------------
# Firewall settings
# ---------------------------------------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------------------------------------------------
# Software Update settings
# ---------------------------------------------------------------------------------------------------------------------

{{ end -}}
