font-family = JetBrainsMono Nerd Font
background-blur = true
font-size = {{ .terminalFontSize }}
background-opacity = {{ .opacity }}
theme = catppuccin-{{ .catppuccinFlavor }}.conf
confirm-close-surface = false
bold-is-bright = false
cursor-style-blink = false

keybind = super+c=copy_to_clipboard
keybind = super+v=paste_from_clipboard

mouse-hide-while-typing = true
copy-on-select = clipboard
window-inherit-working-directory = true
clipboard-paste-protection = false
window-padding-balance = true
