font-family = JetBrainsMono Nerd Font
background-blur = true
font-size = {{ .terminalFontSize }}
background-opacity = {{ .opacity }}
theme = catppuccin-{{ .catppuccinFlavor }}.conf
confirm-close-surface = false
bold-is-bright = false
cursor-style-blink = false
