{{ if eq .chezmoi.os "linux" "darwin" }}

##########################################

[".antidote"]
type = "archive"
# pin: tag v2.1.0
url = "https://github.com/mattmc3/antidote/archive/db19ea3aa9ad83dbe6ac465ecce0a0afc5a752a5.tar.gz"
exact = true
stripComponents = 1

##########################################

{{ end }}
