{{ if eq .chezmoi.os "linux" "darwin" }}

##########################################

[".antidote"]
type = "archive"
# pin: tag v2.1.0
url = "https://github.com/mattmc3/antidote/archive/4913257e0ae3fee2a77e7189e526fe55b6ff9536.tar.gz"
exact = true
stripComponents = 1

##########################################

{{ end }}
