{{ if eq .chezmoi.os "linux" "darwin" }}

##########################################

[".antidote"]
type = "archive"
# pin: tag v2.1.0
url = "https://github.com/mattmc3/antidote/archive/e6612794db27e6fae70eddbcff08201a6cba0748.tar.gz"
exact = true
stripComponents = 1

##########################################

{{ end }}
