[".config/bat/themes"]
type = "archive"
url = "https://github.com/catppuccin/bat/archive/refs/heads/main.zip"
stripComponents = 2
include = ["bat-main/themes/Catppuccin *.tmTheme"]

[".config/alacritty/themes"]
type = "archive"
url = "https://github.com/catppuccin/alacritty/archive/refs/heads/main.zip"
stripComponents = 1
include = ["alacritty-main/catppuccin-*.toml"]

[".config/k9s/skins/catppuccin-{{ .catppuccinFlavor }}{{ if .transparent }}-transparent{{ end }}.yaml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/k9s/refs/heads/main/dist/catppuccin-{{ .catppuccinFlavor }}{{ if .transparent }}-transparent{{ end }}.yaml"

[".config/delta/catppuccin.gitconfig"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/delta/refs/heads/main/catppuccin.gitconfig"
