{{ if eq .chezmoi.os "linux" "darwin" }}

##########################################

[".config/btop/themes"]
type = "archive"
# pin: tag 1.0.0
url = "https://github.com/catppuccin/btop/archive/f437574b600f1c6d932627050b15ff5153b58fa3.tar.gz"
stripComponents = 2
include = ["*/themes/catppuccin_*.theme"]

[".config/ghostty/themes"]
type = "archive"
# pin: latest main (no tags)
url = "https://github.com/catppuccin/ghostty/archive/b0b03ccee7ae8f16b13bd4fdfe267616defdb2b7.tar.gz"
stripComponents = 2
include = ["*/themes/catppuccin-*.conf"]

[".local/share/oh-my-tmux"]
type = "archive"
# pin: latest master (no tags)
url = "https://github.com/gpakosz/.tmux/archive/58a3dcc0d718ec0fa1c0d5a2fddd640a1ad7a5b7.tar.gz"
stripComponents = 1

##########################################

{{ end }}
