{{ if eq .chezmoi.os "linux" "darwin" }}

##########################################

[".config/btop/themes"]
type = "archive"
# pin: tag 1.0.0
url = "https://github.com/catppuccin/btop/archive/89ff712eb62747491a76a7902c475007244ff202.tar.gz"
stripComponents = 2
include = ["*/themes/catppuccin_*.theme"]

[".config/ghostty/themes"]
type = "archive"
# pin: latest main (no tags)
url = "https://github.com/catppuccin/ghostty/archive/5a58926563ddacbde4a12b4a347464c2c6945393.tar.gz"
stripComponents = 2
include = ["*/themes/catppuccin-*.conf"]

[".local/share/oh-my-tmux"]
type = "archive"
# pin: latest master (no tags)
url = "https://github.com/gpakosz/.tmux/archive/af33f07134b76134acca9d01eacbdecca9c9cda6.tar.gz"
stripComponents = 1

##########################################

{{ end }}
