[".config/yazi/theme.toml"]
type = "file"
# pin: catppuccin/yazi latest main (no tags)
url = "https://raw.githubusercontent.com/catppuccin/yazi/d62802be39210ea10e54b3e3b09735c6cb9e57c1/themes/{{ .catppuccinFlavor }}/catppuccin-{{ .catppuccinFlavor }}-{{ .catppuccinAccentColor }}.toml"

[".config/yazi/Catppuccin-{{ .catppuccinFlavor }}.tmTheme"]
type = "file"
# pin: catppuccin/bat latest main (no tags)
url = "https://raw.githubusercontent.com/catppuccin/bat/6810349b28055dce54076712fc05fc68da4b8ec0/themes/Catppuccin%20{{ .catppuccinFlavorTitle }}.tmTheme"

[".config/yazi/plugins/toggle-view.yazi"]
type = "archive"
# pin: dawsers/toggle-view.yazi latest master (no tags)
url = "https://github.com/dawsers/toggle-view.yazi/archive/9ae57f904d616f4462e829521ec1ad10727ec7ed.tar.gz"
exact = true
stripComponents = 1

[".config/yazi/plugins/glow.yazi"]
type = "archive"
# pin: Reledia/glow.yazi latest main (no tags)
url = "https://github.com/Reledia/glow.yazi/archive/bd3eaa58c065eaf216a8d22d64c62d8e0e9277e9.tar.gz"
exact = true
stripComponents = 1

[".config/yazi/plugins/eza-preview.yazi"]
type = "archive"
# pin: sharklasers996/eza-preview.yazi latest master (no tags)
url = "https://github.com/sharklasers996/eza-preview.yazi/archive/7ca4c2558e17bef98cacf568f10ec065a1e5fb9b.tar.gz"
exact = true
stripComponents = 1

[".config/yazi/plugins/relative-motions.yazi"]
type = "archive"
# pin: dedukun/relative-motions.yazi latest main (no tags)
url = "https://github.com/dedukun/relative-motions.yazi/archive/a603d9ea924dfc0610bcf9d3129e7cba605d4501.tar.gz"
exact = true
stripComponents = 1

[".config/yazi/plugins/compress.yazi"]
type = "archive"
# pin: tag Main
url = "https://github.com/KKV9/compress.yazi/archive/80e5268ec74c7ac17d4d739e13a9958cba4c70d3.tar.gz"
exact = true
stripComponents = 1

[".config/yazi/plugins/what-size.yazi"]
type = "archive"
# pin: pirafrank/what-size.yazi latest main (no tags)
url = "https://github.com/pirafrank/what-size.yazi/archive/ec94d9a8496241d91dcfb2a864214871c326ddc5.tar.gz"
exact = true
stripComponents = 1

[".config/yazi/plugins"]
type = "archive"
# pin: yazi-rs/plugins latest main (no tags)
url = "https://github.com/yazi-rs/plugins/archive/c591a36e7263e95497715d525e9c46c2f0a880ac.tar.gz"
stripComponents = 1
include = ["*/git.yazi/**", "*/max-preview.yazi/**"]
