[".config/zellij/plugins/zellij_forgot.wasm"]
type = "file"
url = "https://github.com/karimould/zellij-forgot/releases/download/0.4.2/zellij_forgot.wasm"

[".config/zellij/plugins/zjstatus.wasm"]
type = "file"
url = "https://github.com/dj95/zjstatus/releases/download/v0.23.0/zjstatus.wasm"
