#!/usr/bin/env bash

set -eufo pipefail

DISTRO=$(lsb_release -i | awk '{print $NF}')

case "$DISTRO" in
"Ubuntu") ;;
*)
  exit 0
  ;;
esac

##########################################

echo 'INSTALLING SOFTWARE PROPERTIES COMMON...'

sudo apt-get install software-properties-common

##########################################

{{ if .pkgs.ubuntu.repositories }}
echo 'ADDING REPOSITORIES...'
{{ range $repository := .pkgs.ubuntu.repositories }}
sudo add-apt-repository '{{ $repository }}'
{{ end }}
{{ end }}

##########################################

echo 'UPDATING SOURCES...'

sudo apt update

##########################################

echo 'INSTALLING PACKAGES...'
sudo apt install {{ .pkgs.ubuntu.pkgs | quoteList | join " " }}

##########################################

{{ if .pkgs.ubuntu.repositories }}
echo 'INSTALLING PACKAGES VIA ONE SCRIPT INSTALL...'
{{ range $script := .pkgs.ubuntu.oneScriptInstall }}
curl -sSfL '{{ $script }}' | sh
{{ end }}
{{ end }}
