layout {
    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
            pane
            pane
        }
        tab max_panes=8 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }

    default_tab_template {
        children

        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "#[fg=#89b4fa,bold] {mode} {tabs}"
            format_right "{command_ryzen}{command_nvidia}"

            mode_locked "#[fg=#f38ba8,bold]  {name} "
            mode_normal "#[fg=#a6e3a1,bold]  {name} "
            mode_resize "#[fg=#fab387,bold] 󰩨 {name} "
            mode_scroll "#[fg=#f5c2e7,bold]  {name} "
            mode_pane   "#[fg=#b4befe,bold]  {name} "
            mode_tab    "#[fg=#f9e2af,bold] 󰓩 {name} "
            mode_default_to_mode "resize"

            tab_normal "#[bg=#585b70,fg=#000000] #[bg=#585b70,fg=#000000,bold]󰓪 {name} {sync_indicator}{fullscreen_indicator}{floating_indicator} #[bg=#000000,fg=#585b70]"
            tab_active "#[bg=#cba6f7,fg=#000000] #[bg=#cba6f7,fg=#000000,bold]󰓩 {name} {sync_indicator}{fullscreen_indicator}{floating_indicator} #[bg=#000000,fg=#cba6f7]"

            tab_sync_indicator       " "
            tab_fullscreen_indicator "□ "
            tab_floating_indicator   "󰉈 "

            // display everything about nvidia
            command_nvidia_command  "/home/antrax/dotfiles/bin/nvidia.py"
            command_nvidia_format   "#[bg=#a6e3a1,fg=#000000] #[bg=#a6e3a1,fg=#000000,bold]{stdout}#[bg=#000000,fg=#a6e3a1] "
            command_nvidia_interval "1"
            command_nvidia_rendermode "static"

            // display everything about my ryzen cpu
            command_ryzen_command  "/home/antrax/dotfiles/bin/ryzen.py"
            command_ryzen_format   "#[bg=#fab387,fg=#000000] #[bg=#fab387,fg=#000000,bold]{stdout}#[bg=#000000,fg=#fab387] "
            command_ryzen_interval "2"
            command_ryzen_rendermode "static"

          }

        }
    }

}
